<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <title>Lenguajes</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
    <section class="leng-cv">
        <li><h3>Inglés <span class="label label-success ng-scope" ng-if="lang.level == 5">Native</span></h3></li>
        <li><h3>Alemán <span class="label label-primary ng-scope" ng-if="lang.level == 4">Full professional working proficiency</span></h3></li>
        <li><h3>Chino <span class="label label-danger ng-scope" ng-if="lang.level == 1">Elementary proficiency</span></h3></li>
    </section>
</body>
</body>
</html>